* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
	
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

.app {
    background: url(../images/cordova.png) no-repeat center top; 
    position: absolute;             
    left: 50%;
    top: 50%;
    height: 50px;                  
    width: 225px;                   
    text-align: center;
    padding: 180px 0px 0px 0px;     
    margin: -115px 0px 0px -112px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

#results-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.input-selection {
    width: 100%;
    text-align: center;
}

select {
    font-size: 1.0rem;
    padding-left: 5px;
    text-align: center;
    margin: 0 auto;
}

.input-item-small {
    width: 20%;
    display: inline-block;
    text-align: center;
}

.input-item-large {
    width: 35%;
    display: inline-block;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

#get-ros-his {
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

#rosters {
    width: 100%;
}

.ros-yr {
    width: 30%;
    display: inline-block;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: top;
}

.year {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}

.new {
    border: solid green;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.leaving {
    border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

li {
    width: 100%;
    text-align: center;
}

.join-div {
    width: 5%;
    text-align: right;
    display: inline-block;
}

.leave-div {
    width: 5%;
    text-align: left;
    display: inline-block;
}

.player-div {
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9rem
}

#help-btn {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    width: 55px;
}

.hidden {
    display: none;
}

.stats {
    text-align: center;
    font-size: 0.8rem
}

.stat {
    margin-left: 5px;
    margin-right: 5px;
}

.stat-name {
    font-weight: bold;
    font-size: 0.75rem
}